
<ion-header>

  <ion-navbar>
    <button ion-button navPop><ion-icon name="close"></ion-icon></button>
    {{"GUI_FILTRI" | translate}}
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-label>{{"GUI_PAESE" | translate}}:</ion-label>
    <ion-item>

      <ion-select [(ngModel)]="currentCountryID"  okText="{{'SELECT_OKAY' | translate}}" cancelText="{{'SELECT_CANCEL' | translate}}">

          <ng-container *ngFor="let country of countries">
            <ion-option *ngIf="getCurrentLang() == 'it'" [selected]="country.id == 0" [value]="country.id">{{country.nome}}</ion-option>
            <ion-option *ngIf="getCurrentLang() == 'en'" [selected]="country.id == 0" [value]="country.id">{{country.nome_inglese}}</ion-option>
          </ng-container>

      </ion-select>

    </ion-item>
    
  </ion-list>

  <ion-list>
      <ion-label>{{"GUI_CATEGORIA" | translate}}:</ion-label>
      <ion-item>
        
  
        <ion-select [(ngModel)]="currentCategoryID"  okText="{{'SELECT_OKAY' | translate}}" cancelText="{{'SELECT_CANCEL' | translate}}">

              <ng-container *ngFor="let category of categories">
                <ion-option *ngIf="getCurrentLang() == 'it'" [selected]="category.id == 0" [value]="category.id">{{category.nome}}</ion-option>
                <ion-option *ngIf="getCurrentLang() == 'en'" [selected]="category.id == 0" [value]="category.id">{{category.nome_inglese}}</ion-option>
              </ng-container>

        </ion-select>
  
      </ion-item>
  </ion-list>

  <ion-list>
      <ion-label>{{"GUI_MATERIALI" | translate}}:</ion-label>
      <ion-item>
        
  
        <ion-select placeholder="{{materialiSelectPlaceholder}}" [(ngModel)]="currentMaterialsID" multiple=True disabled="{{allMaterialsSelected}}"  okText="{{'SELECT_OKAY' | translate}}" cancelText="{{'SELECT_CANCEL' | translate}}">
            
              <ng-container *ngFor="let material of materials">
                <ion-option [value]="material.id"><button *ngIf="getCurrentLang() == 'it'">{{material.nome}}</button><button *ngIf="getCurrentLang() == 'en'">{{material.nome_inglese}}</button></ion-option>
              </ng-container>

        </ion-select>
  
      </ion-item>
      <ion-item>
        <ion-label>{{"GUI_CERCA_TUTTI_I_MATERIALI" | translate}}</ion-label>
        <ion-toggle (click)="toggleMaterialsSelected()" [(ngModel)]="allMaterialsSelected"></ion-toggle>
      </ion-item>

  </ion-list>

  <ion-list>
   <ion-label>{{"GUI_PREZZO" | translate}}</ion-label>

    <ion-item>
      <ion-select [(ngModel)]="priceRange" okText="{{'SELECT_OKAY' | translate}}" cancelText="{{'SELECT_CANCEL' | translate}}">

        <ion-option [value]="0"><button>{{"GUI_QUALUNQUE_PREZZO" | translate}}</button></ion-option>
        <ion-option [value]="1"><button>0 - 20</button></ion-option>
        <ion-option [value]="2"><button>20 - 50</button></ion-option>
        <ion-option [value]="3"><button>50 - 100</button></ion-option>
        <ion-option [value]="4"><button>100 - 200</button></ion-option>
        <ion-option [value]="5"><button>200 +</button></ion-option>

      </ion-select>
    </ion-item>

</ion-list>

  

</ion-content>

<ion-footer>
    <button ion-button (click)="applyFilters()">{{"GUI_APPLICA" | translate}}</button>
  </ion-footer>
