<ion-header>

  <ion-navbar>
    <ion-title>Area Riservata</ion-title>
    <button (click)="showLanguagePopup($event)" ion-button>Lingua <ion-icon name="flag"></ion-icon></button>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input [(ngModel)]="nomeUtente" [disabled]="notModifying"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" [disabled]="true"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="{{passInputType}}" [(ngModel)]="password" [disabled]="notModifying"></ion-input>
        </ion-item>
        <button (click)="showPassword()"><ion-icon name="{{showingIcon}}"></ion-icon></button>

      </ion-list>
      

</ion-content>
<ion-footer>
    <button ion-button *ngIf="notModifying" (click)="modifyInformations()"><ion-icon name="settings"></ion-icon>Modifica</button>
    <button ion-button *ngIf="!notModifying" (click)="saveChanges()"><ion-icon name="checkmark"></ion-icon>Salva</button>
</ion-footer>