<ion-header>
  <ion-toolbar class="search-toolbar">
    <ion-list>
      <button id="menu-toggle-button" ion-button menuToggle><ion-icon name="menu"></ion-icon></button>

      <ion-searchbar
      [(ngModel)]="currentQuery"
      [showCancelButton]="true"
      (search)="searchbarInput($event)"
      (ionCancel)="searchbarCancel($event)"
      placeholder="{{'PLACEHOLDER_CERCA' | translate}}"
      animated="true">
      </ion-searchbar>
      
      <button id="searchbar-side-button" (click)="showSearchMenu($event)" ion-button><ion-icon name="more"></ion-icon></button>
    </ion-list>
  </ion-toolbar>

  <ion-toolbar class="filter-toolbar">
    <button ion-button (click)="showSortModal()">
      <ion-label>{{"GUI_ORDINA" | translate}}</ion-label>
      <ion-icon name="arrow-dropdown"></ion-icon>
    </button>
    <button ion-button (click)="showFilterModal()"><ion-label>{{"GUI_FILTRI" | translate}}</ion-label><ion-icon name="switch"></ion-icon></button>
    
  </ion-toolbar>

  <ion-toolbar class="results-toolbar">

    <ion-label *ngIf="getCurrentLang() == 'it'">{{getInserzioniLength()}} {{"GUI_RISULTATI_TROVATI" | translate}} {{"GUI_RISULTATI_DA" | translate}} {{currentSearch.paese.nome}}</ion-label>
    <ion-label *ngIf="getCurrentLang() == 'en'">{{getInserzioniLength()}} {{"GUI_RISULTATI_TROVATI" | translate}} {{"GUI_RISULTATI_DA" | translate}} {{currentSearch.paese.nome_inglese}}</ion-label>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let inserzione of inserzioni">
    <ion-card (click)="inserzioneTapped(inserzione.id)" class="inserzione-card">
        <ion-card-header>
            <ion-card [ngStyle]="{'background-image':'url(data:image/png;base64,' + inserzione.immagini[0] + ')'}" class="slide-image"></ion-card>
          </ion-card-header>
          <ion-card-content>
              <ion-title >{{inserzione.titolo}}</ion-title>
              <p *ngIf="getCurrentLang() == 'it'">{{inserzione.dataPubblicazione | date:'dd/MM/yyyy HH:mm'}} - {{inserzione.paese.nome}}</p>
              <p *ngIf="getCurrentLang() == 'en'">{{inserzione.dataPubblicazione | date:'dd/MM/yyyy HH:mm'}} - {{inserzione.paese.nome_inglese}}</p>

            </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab mini (click)="addInserzioneTapped()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
