<ion-header>
  <ion-navbar>
      <ion-title>{{inserzione.titolo}}</ion-title>
      <button id="preferito-button" (click)="addRemovePreferito(inserzione.id)"><ion-icon [style.color]="isInserzionePreferita ? 'red' : 'rgb(255, 206, 115)'" name="heart"></ion-icon></button>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-slides pager="true">
        <ng-container *ngFor="let img of inserzione.immagini; let i = index">
            <ion-slide>
              <ion-card [ngStyle]="{'background-image':'url(data:image/png;base64,' + img + ')'}" class="slide-image"></ion-card>
            </ion-slide>
        </ng-container>
    </ion-slides>
    
    <ion-list>
        <ion-card class="info-card">
            <ion-title [innerHTML]="inserzione.titolo"></ion-title>
            <p>Pubblicato il: {{inserzione.dataPubblicazione | date:'dd/MM/yyyy HH:mm'}}</p>
            <h1 [innerHTML]="inserzione.prezzo + '&euro;'"></h1>
            <ion-label>{{"GUI_DESCRIZIONE" | translate}}:</ion-label>
            <p [innerHTML]="inserzione.descrizione"></p>
        </ion-card>
        <ion-card class="info-card">
            <ion-label>{{"GUI_CATEGORIA" | translate}}</ion-label>
            <p *ngIf="getCurrentLang() == 'it'">{{inserzione.categoria.nome}}</p>
            <p *ngIf="getCurrentLang() == 'en'">{{inserzione.categoria.nome_inglese}}</p>
            <ion-label>{{"GUI_PAESE" | translate}}</ion-label>
            <p *ngIf="getCurrentLang() == 'it'">{{inserzione.paese.nome}}</p>
            <p *ngIf="getCurrentLang() == 'en'">{{inserzione.paese.nome_inglese}}</p>
            <ion-label>{{"GUI_MATERIALI" | translate}}</ion-label>
            <ng-container *ngFor="let materiale of inserzione.materiali">
                <p class="materiali" *ngIf="getCurrentLang() == 'it'"> - {{materiale.nome}}</p>
                <p class="materiali" *ngIf="getCurrentLang() == 'en'"> - {{materiale.nome_inglese}}</p>
            </ng-container>
        </ion-card>
        <ion-card id="inserzionista-card" *ngIf="inserzione.inserzionista.email != utenteLoggato.email">
                <h2 [innerHTML]="inserzione.inserzionista.nome"></h2>
                <ion-label>{{"GUI_INSERZIONI_PUBBLICATE" | translate}}</ion-label>
                <p [innerHTML]="inserzione.inserzionista.inserzioniPubblicate"></p>
                <ion-label>{{"GUI_INSERZIONI_ONLINE" | translate}}</ion-label>
                <p [innerHTML]="inserzione.inserzionista.inserzioniOnline"></p>
            </ion-card>
    </ion-list>
    
</ion-content>
<ion-footer>
        <button ion-button *ngIf="inserzione.inserzionista.email != utenteLoggato.email" (click)="contattaInserzionista()"><ion-icon name="paper-plane"></ion-icon>{{"GUI_CONTATTA" | translate}}</button>
</ion-footer>